<h3>Listing orders for <%= @item.name %> </h3>



<% @ordersbyChapter.each do |chapter_id, orders| %>
    <h5><%= Chapter.find(chapter_id).name %></h5>
    <table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Quantity</th>
    <th>Size</th>
    <th>Paid?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
    <% orders.each do |order| %>

  <tr>
    <td><%= order.first_name %></td>
    <td><%= order.last_name %></td>
    <td><%= order.quantity %></td>
    <td><%= convert_size(order.size) %></td>
    <td><%= order.paid %> </td>
    <td><%= link_to 'Show', item_order_path(@item, order) %></td>
    <td><%= link_to 'Edit', edit_item_order_path(@item, order) %></td>
  </tr>


    <%end %>
    </table>
<% end %>

<h3> Order Totals </h3>
<table>
<% @totalsbySize.each do |size, total| %>
    <tr>
        <td> <%= convert_size(size) %> </td>
        <td> <%= total %> </td>
    </tr>
        

<% end %>
</table>
<br />

<%= link_to 'New Order', new_item_order_path(@item) %>
