<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @order.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @order.last_name %>
</p>

<p>
  <b>Chapter:</b>
  <%= @order.chapter_id %>
</p>

<p>
  <b>Item:</b>
  <%= @order.item_id %>
</p>

<p>
  <b>Quantity:</b>
  <%= @order.quantity %>
</p>

<p>
  <b>Size:</b>
  <%= @order.size %>
</p>


<%= link_to 'Edit', edit_item_order_path(@item, @order) %> |
<%= link_to 'Back', item_path(@item) %>
