<% provide(:title, "Shop") %>
<h4>Available Items</h4/>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= link_to item.name,item %></td>
    <td><%= number_to_currency(item.price, :unit => "$") %></td>
  <% if session[:admin] %>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>

  </tr>
<% end %>
</table>

<br />
<% if session[:admin] %>
  <%= link_to 'New Item', new_item_path %>
<% end %>