<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<%= image_tag @item.picture.url(:thumb) %>

<p>
  <b>Price:</b>
  <%= @item.price %>
</p>

<p>
	<b> ID : </b>
	<%= @item.id %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
