<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<%= image_tag @item.picture.url(:full) %>

<% if @item.preorderdate && Date.today < @item.preorderdate %>
<p>
	<b>Pre-Order Now! Only <%= number_to_currency(@item.preorderprice, :unit => "$") %> </b>
</p>
<% end %> 

<p>
  <b>Price:</b>
  <%= number_to_currency(@item.price, :unit => "$") %>
</p>

<p>
	<b> ID : </b>
	<%= @item.id %>
</p>
<%= link_to 'Order', new_item_order_path(@item) %>

<% if session[:admin] %>
	<%= link_to 'Edit', edit_item_path(@item) %>
<% end %>
