<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<%= image_tag @item.picture.url(:thumb) %>

<p>
  <b>Price:</b>
  <%= number_to_currency(@item.price, :unit => "$") %>
</p>

<p>
	<b> ID : </b>
	<%= @item.id %>
</p>
<%= link_to 'Order', new_item_order_path(@item) %>

<% if session[:admin] %>
	<%= link_to 'Edit', edit_item_path(@item) %> | 
<% end %>
<%= link_to 'Back', items_path %>
