<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %> </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="brand" style="float:right;">
          <span class="pull-right"> Kappa Sigma Loves <%= Chapter.find(session[:chapter]).name %> </span>
        </div>
      </div>
    </header>

 
    <div class="container" >
    	<%= yield %> <br / >
 

 <%= link_to "Back To Shop", items_path %>
    </div>
 <div class="container">
      <%= debug(params) if Rails.env.development? %>
    </div>

</body>
</html>
